*.iml
**/*.iml
*.ipr
**/*.ipr
*.iws
**/*.iws
.idea
**/.idea

.project
.classes
.settings

**/.vagrant

*.pyc
**/*.pyc

**/build
**/.gradle

**/target

**/.nrepl-port
**/.lein-repl-history

clojure-client/pom.xml


.lein*
**/.lein*
**/.nrepl*

.DS_Store
**/.DS_Store

.vagrant
**/.vagrant
